#!/bin/sh

# BibDesk の主要な設定を施すためのスクリプト

d=edu.ucsd.cs.mmccrack.bibdesk
cp $HOME/Library/Preferences/$d.plist{,.bak}

string() {
  defaults write $d "$1" -string "$2"
}

int() {
  defaults write $d "$1" -integer "$2"
}

boolean() {
  defaults write $d "$1" -boolean "$2"
}

array() {
  key=$1
  shift
  defaults write $d "$key" -array "$@"
}

int     'Startup Behavior' 3
boolean 'Edit on Paste' TRUE
int     'BDSKAlternateDragCopyTypeKey' 6
array   'Shown Column Names' '1st Author' 'Publiication Date' 'Title' 'Local File' 'Data-Added'
boolean BDSKWarnOnCiteKeyChangeKey TRUE

boolean BDSKHideGroupCount TRUE

int     'Character encoding for TeX preview file' 4
boolean 'Save Annote and Abstract at End of Item' TRUE
boolean 'Save normalized names in BibTeX files' TRUE
int     'Separate Cite' 0

array   'Default Fields' 'Keywords' 'Doi'
array   'Boolean fields' 'Read'

boolean 'Cite Key Autogenerate' TRUE
int     'Cite Key Clean Braces or TeX' 2
string  'Cite Key Format': '%p1-%Y-%T5'
int     'Cite Key Format Preset': 0
boolean 'Cite Key Generate Lowercase': TRUE
boolean 'Cite Prepend Tilde': FALSE

boolean 'File papers into the papers folder automatically' TRUE
string  'Path to the papers folder' "$DROPBOX/research/papers"
int     BDSKLocalFileCleanOptionKey 2
string  BDSKLocalFileFormatKey '%a1/%p1-%Y%u-%t.pdf'
int     BDSKLocalFileFormatPresetKey 0
boolean BDSKLocalFileLowercaseKey TRUE

boolean BDSKShouldLookForSharedFilesKey TRUE
string  BDSKSharingNameKey 'kwakita'
boolean BDSKShouldShareFilesKey TRUE

